@model EmployeesManagement.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card border-top border-0 border-4 border-info">
            <div class="card-body">
                <div class="border p-4 rounded">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="bx bxs-user me-1 font-22 text-info"></i>
                        </div>
                        <h5 class="mb-0 text-info">Add New Employee</h5>
                    </div>
                    <hr />
                    <div class="row g-3">
                        <div class="col-md-12">
                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="EmpNo" class="control-label"></label>
                                            <input asp-for="EmpNo" class="form-control" />
                                            <span asp-validation-for="EmpNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="FirstName" class="control-label"></label>
                                            <input asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="MiddleName" class="control-label"></label>
                                            <input asp-for="MiddleName" class="form-control" />
                                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="LastName" class="control-label"></label>
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="PhoneNumber" class="control-label"></label>
                                            <input asp-for="PhoneNumber" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="EmailAddress" class="control-label"></label>
                                            <input asp-for="EmailAddress" class="form-control" />
                                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="GenderId" class="control-label"></label>
                                            <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                                            <span asp-validation-for="GenderId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CountryId" class="control-label"></label>
                                            <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                                            <span asp-validation-for="CountryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="DateOfBirth" class="control-label"></label>
                                            <input asp-for="DateOfBirth" type="date" class="form-control" />
                                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="EmploymentDate" class="control-label"></label>
                                            <input asp-for="EmploymentDate" type="date" class="form-control" />
                                            <span asp-validation-for="EmploymentDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Address" class="control-label"></label>
                                            <input asp-for="Address" class="form-control" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="DepartmentId" class="control-label"></label>
                                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                                            <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="DesignationId" class="control-label"></label>
                                            <select asp-for="DesignationId" class="form-control" asp-items="ViewBag.DesignationId"></select>
                                            <span asp-validation-for="DesignationId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="BankId" class="control-label"></label>
                                            <select asp-for="BankId" class="form-control" asp-items="ViewBag.BankId"></select>
                                            <span asp-validation-for="BankId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="BankAccountNo" class="control-label"></label>
                                            <input asp-for="BankAccountNo" class="form-control" />
                                            <span asp-validation-for="BankAccountNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="IBAN" class="control-label"></label>
                                            <input asp-for="IBAN" class="form-control" />
                                            <span asp-validation-for="IBAN" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="SWIFTCode" class="control-label"></label>
                                            <input asp-for="SWIFTCode" class="form-control" />
                                            <span asp-validation-for="SWIFTCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="NSSFNO" class="control-label"></label>
                                            <input asp-for="NSSFNO" class="form-control" />
                                            <span asp-validation-for="NSSFNO" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="NHIF" class="control-label"></label>
                                            <input asp-for="NHIF" class="form-control" />
                                            <span asp-validation-for="NHIF" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CompanyEmail" class="control-label"></label>
                                            <input asp-for="CompanyEmail" class="form-control" />
                                            <span asp-validation-for="CompanyEmail" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="KRAPIN" class="control-label"></label>
                                            <input asp-for="KRAPIN" class="form-control" />
                                            <span asp-validation-for="KRAPIN" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="PassportNo" class="control-label"></label>
                                            <input asp-for="PassportNo" class="form-control" />
                                            <span asp-validation-for="PassportNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="EmploymentTermsId" class="control-label"></label>
                                            <select asp-for="EmploymentTermsId" class="form-control" asp-items="ViewBag.EmploymentTermsId"></select>
                                            <span asp-validation-for="EmploymentTermsId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="DisabilityId" class="control-label"></label>
                                            <select asp-for="DisabilityId" class="form-control" asp-items="ViewBag.DisabilityId"></select>
                                            <span asp-validation-for="DisabilityId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="DisabilityCertificate" class="control-label"></label>
                                            <input asp-for="DisabilityCertificate" class="form-control" />
                                            <span asp-validation-for="DisabilityCertificate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Photo" class="control-label"></label>
                                            <input class="form-control" type="file" accept=".png,.jpg,.jpeg" id="photo" name="employeephoto" />
                                            <span asp-validation-for="Photo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group p-lg-5">
                                    <div class="col-md-12">
                                        <a asp-action="Index" class="btn btn-warning float-start"><i class="bi bi-skip-backward-fill"></i> Back to List</a>
                                        <button type="submit" class="btn btn-primary float-end"><i class="bi bi-save"></i> Register Employee</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
