@model EmployeesManagement.Models.LeaveAdjustmentEntry

@{
    ViewData["Title"] = "Adjust Employee Leave";
}
<h4>Adjust Employee Leave Balance</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AdjustLeaveBalance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LeavePeriodId" class="control-label"></label>
                        <select asp-for="LeavePeriodId" class="form-control" asp-items="ViewBag.LeavePeriodId"></select>
                        <span asp-validation-for="LeavePeriodId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="NoOfDays" class="control-label"></label>
                        <input asp-for="NoOfDays" class="form-control" />
                        <span asp-validation-for="NoOfDays" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LeaveAdjustmentDate" class="control-label"></label>
                        <input asp-for="LeaveAdjustmentDate" class="form-control" />
                        <span asp-validation-for="LeaveAdjustmentDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AdjustmentDescription" class="control-label"></label>
                        <input asp-for="AdjustmentDescription" class="form-control" />
                        <span asp-validation-for="AdjustmentDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AdjustmentTypeId" class="control-label"></label>
                        <select asp-for="AdjustmentTypeId" class="form-control" asp-items="ViewBag.AdjustmentTypeId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Adjust Leave" class="btn btn-primary" />
                </div>
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
