USE [EmployeeManagamentSystem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/4/2025 10:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalEntries]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecordId] [int] NOT NULL,
	[DocumentTypeId] [int] NOT NULL,
	[SequenceNo] [int] NOT NULL,
	[ApproverId] [nvarchar](450) NOT NULL,
	[StatusId] [int] NOT NULL,
	[DateSentForApproval] [datetime2](7) NOT NULL,
	[LastModifiedOn] [datetime2](7) NOT NULL,
	[LastModifiedById] [nvarchar](450) NOT NULL,
	[Comments] [nvarchar](max) NOT NULL,
	[ControllerName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ApprovalEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalsUserMatrixs]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalsUserMatrixs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[DocumentTypeId] [int] NOT NULL,
	[WorkflowUserGroupId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ApprovalsUserMatrixs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[CreatedById] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[LoginDate] [datetime2](7) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[ModifiedById] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[NationalId] [nvarchar](max) NULL,
	[PasswordChangedOn] [datetime2](7) NULL,
	[RoleId] [nvarchar](450) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[AuditType] [nvarchar](max) NOT NULL,
	[TableName] [nvarchar](max) NOT NULL,
	[DateTime] [datetime2](7) NOT NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[AffectedColumns] [nvarchar](max) NULL,
	[PrimaryKey] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banks]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[AccountNo] [nvarchar](max) NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Banks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyInformations]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyInformations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[PhoneNo] [int] NOT NULL,
	[NSSFNO] [nvarchar](max) NOT NULL,
	[NHIFNO] [nvarchar](max) NOT NULL,
	[KRAPIN] [nvarchar](max) NOT NULL,
	[ContactPerson] [nvarchar](max) NOT NULL,
	[Logo] [nvarchar](max) NOT NULL,
	[PostalCode] [nvarchar](max) NOT NULL,
	[CityId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_CompanyInformations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designations]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Designations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpNo] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[MiddleName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[PhoneNumber] [int] NOT NULL,
	[EmailAddress] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[CountryId] [int] NULL,
	[DepartmentId] [int] NULL,
	[DesignationId] [int] NULL,
	[GenderId] [int] NULL,
	[Photo] [nvarchar](max) NULL,
	[BankAccountNo] [nvarchar](max) NULL,
	[BankId] [int] NULL,
	[CauseofInactivityId] [int] NULL,
	[CompanyEmail] [nvarchar](max) NULL,
	[EmploymentDate] [datetime2](7) NULL,
	[EmploymentTermsId] [int] NULL,
	[IBAN] [nvarchar](max) NULL,
	[InactiveDate] [datetime2](7) NULL,
	[KRAPIN] [nvarchar](max) NULL,
	[NHIF] [nvarchar](max) NULL,
	[NSSFNO] [nvarchar](max) NULL,
	[PassportNo] [nvarchar](max) NULL,
	[ReasonforterminationId] [int] NULL,
	[SWIFTCode] [nvarchar](max) NULL,
	[StatusId] [int] NULL,
	[TerminationDate] [datetime2](7) NULL,
	[AllocatedLeaveDays] [decimal](18, 2) NULL,
	[LeaveOutStandingBalance] [decimal](18, 2) NULL,
	[DisabilityCertificate] [nvarchar](max) NULL,
	[DisabilityId] [int] NULL,
	[PaysTax] [bit] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Holidays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveAdjustmentEntries]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveAdjustmentEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[NoOfDays] [decimal](18, 2) NOT NULL,
	[LeaveAdjustmentDate] [datetime2](7) NOT NULL,
	[LeaveStartDate] [datetime2](7) NULL,
	[LeaveEndDate] [datetime2](7) NULL,
	[AdjustmentDescription] [nvarchar](max) NOT NULL,
	[AdjustmentTypeId] [int] NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[LeavePeriodId] [int] NULL,
 CONSTRAINT [PK_LeaveAdjustmentEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveApplications]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveApplications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[NoOfDays] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[DurationId] [int] NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[Attachment] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[ApprovedById] [nvarchar](450) NULL,
	[ApprovedOn] [datetime2](7) NOT NULL,
	[ApprovalNotes] [nvarchar](max) NULL,
 CONSTRAINT [PK_LeaveApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeavePeriods]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeavePeriods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Closed] [bit] NOT NULL,
	[Locked] [bit] NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LeavePeriods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveTypes]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LeaveTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleProfiles]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_RoleProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemCodeDetails]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemCodeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemCodeId] [int] NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[OrderNo] [int] NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SystemCodeDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemCodes]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SystemCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemProfiles]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ProfileId] [int] NULL,
	[Order] [int] NULL,
	[CreatedById] [nvarchar](450) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedById] [nvarchar](450) NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SystemProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkFlowUserGroupMembers]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkFlowUserGroupMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkFlowUserGroupId] [int] NOT NULL,
	[SenderId] [nvarchar](450) NOT NULL,
	[ApproverId] [nvarchar](450) NOT NULL,
	[SequenceNo] [int] NOT NULL,
 CONSTRAINT [PK_WorkFlowUserGroupMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkFlowUserGroups]    Script Date: 1/4/2025 10:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkFlowUserGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DepartmentId] [int] NULL,
	[DocumentTypeId] [int] NULL,
 CONSTRAINT [PK_WorkFlowUserGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[ApprovalEntries]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalEntries_AspNetUsers_ApproverId] FOREIGN KEY([ApproverId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ApprovalEntries] CHECK CONSTRAINT [FK_ApprovalEntries_AspNetUsers_ApproverId]
GO
ALTER TABLE [dbo].[ApprovalEntries]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalEntries_AspNetUsers_LastModifiedById] FOREIGN KEY([LastModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ApprovalEntries] CHECK CONSTRAINT [FK_ApprovalEntries_AspNetUsers_LastModifiedById]
GO
ALTER TABLE [dbo].[ApprovalEntries]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalEntries_SystemCodeDetails_DocumentTypeId] FOREIGN KEY([DocumentTypeId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[ApprovalEntries] CHECK CONSTRAINT [FK_ApprovalEntries_SystemCodeDetails_DocumentTypeId]
GO
ALTER TABLE [dbo].[ApprovalEntries]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalEntries_SystemCodeDetails_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[ApprovalEntries] CHECK CONSTRAINT [FK_ApprovalEntries_SystemCodeDetails_StatusId]
GO
ALTER TABLE [dbo].[ApprovalsUserMatrixs]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalsUserMatrixs_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ApprovalsUserMatrixs] CHECK CONSTRAINT [FK_ApprovalsUserMatrixs_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[ApprovalsUserMatrixs]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalsUserMatrixs_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ApprovalsUserMatrixs] CHECK CONSTRAINT [FK_ApprovalsUserMatrixs_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[ApprovalsUserMatrixs]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalsUserMatrixs_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ApprovalsUserMatrixs] CHECK CONSTRAINT [FK_ApprovalsUserMatrixs_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ApprovalsUserMatrixs]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalsUserMatrixs_SystemCodeDetails_DocumentTypeId] FOREIGN KEY([DocumentTypeId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[ApprovalsUserMatrixs] CHECK CONSTRAINT [FK_ApprovalsUserMatrixs_SystemCodeDetails_DocumentTypeId]
GO
ALTER TABLE [dbo].[ApprovalsUserMatrixs]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalsUserMatrixs_WorkFlowUserGroups_WorkflowUserGroupId] FOREIGN KEY([WorkflowUserGroupId])
REFERENCES [dbo].[WorkFlowUserGroups] ([Id])
GO
ALTER TABLE [dbo].[ApprovalsUserMatrixs] CHECK CONSTRAINT [FK_ApprovalsUserMatrixs_WorkFlowUserGroups_WorkflowUserGroupId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Banks]  WITH CHECK ADD  CONSTRAINT [FK_Banks_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Banks] CHECK CONSTRAINT [FK_Banks_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[Banks]  WITH CHECK ADD  CONSTRAINT [FK_Banks_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Banks] CHECK CONSTRAINT [FK_Banks_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries_CountryId]
GO
ALTER TABLE [dbo].[CompanyInformations]  WITH CHECK ADD  CONSTRAINT [FK_CompanyInformations_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[CompanyInformations] CHECK CONSTRAINT [FK_CompanyInformations_Cities_CityId]
GO
ALTER TABLE [dbo].[CompanyInformations]  WITH CHECK ADD  CONSTRAINT [FK_CompanyInformations_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[CompanyInformations] CHECK CONSTRAINT [FK_CompanyInformations_Countries_CountryId]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[Designations]  WITH CHECK ADD  CONSTRAINT [FK_Designations_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Designations] CHECK CONSTRAINT [FK_Designations_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[Designations]  WITH CHECK ADD  CONSTRAINT [FK_Designations_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Designations] CHECK CONSTRAINT [FK_Designations_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Banks_BankId] FOREIGN KEY([BankId])
REFERENCES [dbo].[Banks] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Banks_BankId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Countries_CountryId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Designations_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designations] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Designations_DesignationId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_SystemCodeDetails_CauseofInactivityId] FOREIGN KEY([CauseofInactivityId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_SystemCodeDetails_CauseofInactivityId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_SystemCodeDetails_DisabilityId] FOREIGN KEY([DisabilityId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_SystemCodeDetails_DisabilityId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_SystemCodeDetails_EmploymentTermsId] FOREIGN KEY([EmploymentTermsId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_SystemCodeDetails_EmploymentTermsId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_SystemCodeDetails_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_SystemCodeDetails_GenderId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_SystemCodeDetails_ReasonforterminationId] FOREIGN KEY([ReasonforterminationId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_SystemCodeDetails_ReasonforterminationId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_SystemCodeDetails_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_SystemCodeDetails_StatusId]
GO
ALTER TABLE [dbo].[Holidays]  WITH CHECK ADD  CONSTRAINT [FK_Holidays_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Holidays] CHECK CONSTRAINT [FK_Holidays_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[Holidays]  WITH CHECK ADD  CONSTRAINT [FK_Holidays_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Holidays] CHECK CONSTRAINT [FK_Holidays_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries]  WITH CHECK ADD  CONSTRAINT [FK_LeaveAdjustmentEntries_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries] CHECK CONSTRAINT [FK_LeaveAdjustmentEntries_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries]  WITH CHECK ADD  CONSTRAINT [FK_LeaveAdjustmentEntries_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries] CHECK CONSTRAINT [FK_LeaveAdjustmentEntries_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries]  WITH CHECK ADD  CONSTRAINT [FK_LeaveAdjustmentEntries_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries] CHECK CONSTRAINT [FK_LeaveAdjustmentEntries_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries]  WITH CHECK ADD  CONSTRAINT [FK_LeaveAdjustmentEntries_LeavePeriods_LeavePeriodId] FOREIGN KEY([LeavePeriodId])
REFERENCES [dbo].[LeavePeriods] ([Id])
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries] CHECK CONSTRAINT [FK_LeaveAdjustmentEntries_LeavePeriods_LeavePeriodId]
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries]  WITH CHECK ADD  CONSTRAINT [FK_LeaveAdjustmentEntries_SystemCodeDetails_AdjustmentTypeId] FOREIGN KEY([AdjustmentTypeId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[LeaveAdjustmentEntries] CHECK CONSTRAINT [FK_LeaveAdjustmentEntries_SystemCodeDetails_AdjustmentTypeId]
GO
ALTER TABLE [dbo].[LeaveApplications]  WITH CHECK ADD  CONSTRAINT [FK_LeaveApplications_AspNetUsers_ApprovedById] FOREIGN KEY([ApprovedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LeaveApplications] CHECK CONSTRAINT [FK_LeaveApplications_AspNetUsers_ApprovedById]
GO
ALTER TABLE [dbo].[LeaveApplications]  WITH CHECK ADD  CONSTRAINT [FK_LeaveApplications_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LeaveApplications] CHECK CONSTRAINT [FK_LeaveApplications_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[LeaveApplications]  WITH CHECK ADD  CONSTRAINT [FK_LeaveApplications_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LeaveApplications] CHECK CONSTRAINT [FK_LeaveApplications_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[LeaveApplications]  WITH CHECK ADD  CONSTRAINT [FK_LeaveApplications_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[LeaveApplications] CHECK CONSTRAINT [FK_LeaveApplications_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[LeaveApplications]  WITH CHECK ADD  CONSTRAINT [FK_LeaveApplications_LeaveTypes_LeaveTypeId] FOREIGN KEY([LeaveTypeId])
REFERENCES [dbo].[LeaveTypes] ([Id])
GO
ALTER TABLE [dbo].[LeaveApplications] CHECK CONSTRAINT [FK_LeaveApplications_LeaveTypes_LeaveTypeId]
GO
ALTER TABLE [dbo].[LeaveApplications]  WITH CHECK ADD  CONSTRAINT [FK_LeaveApplications_SystemCodeDetails_DurationId] FOREIGN KEY([DurationId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[LeaveApplications] CHECK CONSTRAINT [FK_LeaveApplications_SystemCodeDetails_DurationId]
GO
ALTER TABLE [dbo].[LeaveApplications]  WITH CHECK ADD  CONSTRAINT [FK_LeaveApplications_SystemCodeDetails_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveApplications] CHECK CONSTRAINT [FK_LeaveApplications_SystemCodeDetails_StatusId]
GO
ALTER TABLE [dbo].[LeavePeriods]  WITH CHECK ADD  CONSTRAINT [FK_LeavePeriods_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LeavePeriods] CHECK CONSTRAINT [FK_LeavePeriods_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[LeavePeriods]  WITH CHECK ADD  CONSTRAINT [FK_LeavePeriods_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LeavePeriods] CHECK CONSTRAINT [FK_LeavePeriods_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[LeaveTypes]  WITH CHECK ADD  CONSTRAINT [FK_LeaveTypes_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LeaveTypes] CHECK CONSTRAINT [FK_LeaveTypes_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[LeaveTypes]  WITH CHECK ADD  CONSTRAINT [FK_LeaveTypes_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LeaveTypes] CHECK CONSTRAINT [FK_LeaveTypes_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[RoleProfiles]  WITH CHECK ADD  CONSTRAINT [FK_RoleProfiles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[RoleProfiles] CHECK CONSTRAINT [FK_RoleProfiles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[RoleProfiles]  WITH CHECK ADD  CONSTRAINT [FK_RoleProfiles_SystemProfiles_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[SystemProfiles] ([Id])
GO
ALTER TABLE [dbo].[RoleProfiles] CHECK CONSTRAINT [FK_RoleProfiles_SystemProfiles_TaskId]
GO
ALTER TABLE [dbo].[SystemCodeDetails]  WITH CHECK ADD  CONSTRAINT [FK_SystemCodeDetails_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SystemCodeDetails] CHECK CONSTRAINT [FK_SystemCodeDetails_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[SystemCodeDetails]  WITH CHECK ADD  CONSTRAINT [FK_SystemCodeDetails_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SystemCodeDetails] CHECK CONSTRAINT [FK_SystemCodeDetails_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[SystemCodeDetails]  WITH CHECK ADD  CONSTRAINT [FK_SystemCodeDetails_SystemCodes_SystemCodeId] FOREIGN KEY([SystemCodeId])
REFERENCES [dbo].[SystemCodes] ([Id])
GO
ALTER TABLE [dbo].[SystemCodeDetails] CHECK CONSTRAINT [FK_SystemCodeDetails_SystemCodes_SystemCodeId]
GO
ALTER TABLE [dbo].[SystemCodes]  WITH CHECK ADD  CONSTRAINT [FK_SystemCodes_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SystemCodes] CHECK CONSTRAINT [FK_SystemCodes_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[SystemCodes]  WITH CHECK ADD  CONSTRAINT [FK_SystemCodes_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SystemCodes] CHECK CONSTRAINT [FK_SystemCodes_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[SystemProfiles]  WITH CHECK ADD  CONSTRAINT [FK_SystemProfiles_AspNetUsers_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SystemProfiles] CHECK CONSTRAINT [FK_SystemProfiles_AspNetUsers_CreatedById]
GO
ALTER TABLE [dbo].[SystemProfiles]  WITH CHECK ADD  CONSTRAINT [FK_SystemProfiles_AspNetUsers_ModifiedById] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SystemProfiles] CHECK CONSTRAINT [FK_SystemProfiles_AspNetUsers_ModifiedById]
GO
ALTER TABLE [dbo].[SystemProfiles]  WITH CHECK ADD  CONSTRAINT [FK_SystemProfiles_SystemProfiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[SystemProfiles] ([Id])
GO
ALTER TABLE [dbo].[SystemProfiles] CHECK CONSTRAINT [FK_SystemProfiles_SystemProfiles_ProfileId]
GO
ALTER TABLE [dbo].[WorkFlowUserGroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_WorkFlowUserGroupMembers_AspNetUsers_ApproverId] FOREIGN KEY([ApproverId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[WorkFlowUserGroupMembers] CHECK CONSTRAINT [FK_WorkFlowUserGroupMembers_AspNetUsers_ApproverId]
GO
ALTER TABLE [dbo].[WorkFlowUserGroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_WorkFlowUserGroupMembers_AspNetUsers_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[WorkFlowUserGroupMembers] CHECK CONSTRAINT [FK_WorkFlowUserGroupMembers_AspNetUsers_SenderId]
GO
ALTER TABLE [dbo].[WorkFlowUserGroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_WorkFlowUserGroupMembers_WorkFlowUserGroups_WorkFlowUserGroupId] FOREIGN KEY([WorkFlowUserGroupId])
REFERENCES [dbo].[WorkFlowUserGroups] ([Id])
GO
ALTER TABLE [dbo].[WorkFlowUserGroupMembers] CHECK CONSTRAINT [FK_WorkFlowUserGroupMembers_WorkFlowUserGroups_WorkFlowUserGroupId]
GO
ALTER TABLE [dbo].[WorkFlowUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_WorkFlowUserGroups_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[WorkFlowUserGroups] CHECK CONSTRAINT [FK_WorkFlowUserGroups_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[WorkFlowUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_WorkFlowUserGroups_SystemCodeDetails_DocumentTypeId] FOREIGN KEY([DocumentTypeId])
REFERENCES [dbo].[SystemCodeDetails] ([Id])
GO
ALTER TABLE [dbo].[WorkFlowUserGroups] CHECK CONSTRAINT [FK_WorkFlowUserGroups_SystemCodeDetails_DocumentTypeId]
GO
