@model EmployeesManagement.Models.SystemCodeDetail

@{
    ViewData["Title"] = "Update System Code Details";
}
<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card border-top border-0 border-4 border-info">
            <div class="card-body">
                <div class="border p-4 rounded">
                    <div class="card-title d-flex align-items-center">
                        <div>
                            <i class="bx bxs-user me-1 font-22 text-info"></i>
                        </div>
                        <h5 class="mb-0 text-info">Update System Code Detail </h5>
                    </div>
                    <hr />
                    <div class="row g-3">
                        <div class="col-md-12">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedById" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <div class="row  g-3">
                                    <div class="form-group col-md-6">
                                        <label asp-for="SystemCodeId" class="control-label"></label>
                                        <select asp-for="SystemCodeId" class="form-control" asp-items="ViewBag.SystemCodeId"></select>
                                        <span asp-validation-for="SystemCodeId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Code" class="control-label"></label>
                                        <input asp-for="Code" class="form-control" />
                                        <span asp-validation-for="Code" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Description" class="control-label"></label>
                                        <input asp-for="Description" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="OrderNo" class="control-label"></label>
                                        <input asp-for="OrderNo" class="form-control" />
                                        <span asp-validation-for="OrderNo" class="text-danger"></span>
                                    </div>
                                    <div class="form-group p-lg-5">
                                        <div class="col-md-12">
                                            <a asp-action="Index" class="btn btn-warning float-start"><i class="bi bi-skip-backward-fill"></i>Back to List</a>
                                            <button type="submit" class="btn btn-primary float-end"> <i class="bi bi-save"></i> Update System Code Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
